@import "./helpers/vars";
@import "./helpers/mixins";

// BASE
@import "./base/reset";
@import "./base/fonts";
@import "./base/general";
@import "./base/layout";

// COMPONENTS
@import "./components/scrollUp";
@import "./sections/about";

// HACKS
@import "./helpers/hacks";

.header {
  padding: 80px 0;

  @media (max-width: $desktop) {
    padding: 20px 0;
  }

  .wrapper {
    position: relative;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $note) {
      flex-direction: column;
      margin: auto;
    }

    > a {
      display: flex;
      align-items: center;

      @media (max-width: $note) {
        margin-bottom: 20px;
      }
    }

    .contact {
      a {
        padding-right: 12px;
        font-size: 16px;
        font-weight: 700;
        color: #999;
        transition: color 0.25s ease-out;

        @media (max-width: $note) {
          font-size: 14px;
          padding-right: 0;
        }

        &:hover {
          color: #fafafa;
        }
      }
    }

    img {
      max-width: 60px;
      height: auto;
      pointer-events: none;
      cursor: none;

      @media (max-width: $note) {
        max-width: 40px;
      }
    }

    h1 {
      padding-left: 15px;
      font-size: 16px;
      font-weight: 300;
      color: #999;

      @media (max-width: $note) {
        font-size: 14px;
      }
    }
  }

  &__img {
    position: relative;
    margin: 0 auto 40px auto;
    perspective: 800px;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.25s ease-out;

    @media (max-width: $tablet) {
      margin: 0 auto;
    }
  }

  &__title {
    position: absolute;
    max-width: 520px;
    bottom: 200px;
    left: 20px;
    font-size: rem(60);
    font-weight: 700;
    color: #fafafa !important;
    z-index: 9999;
    backface-visibility: hidden;

    @media (max-width: $laptop) {
      max-width: 380px;
      bottom: 80px;
      font-size: rem(36);
    }

    @media (max-width: $tablet) {
      position: relative;
      max-width: 300px;
      margin-top: -80px;
      padding-bottom: 80px;
      left: inherit;
      bottom: inherit;
      font-size: rem(32);
    }

    @media (max-width: $note) {
      font-size: rem(30);
    }

    @media (max-width: $phone-xl) {
      max-width: 180px;
      margin-top: -70px;
      padding-bottom: 60px;
      font-size: rem(22);
    }
  }

  &__picture {
    @extend .img-responsive;
    margin: auto;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.smm {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;

  a {
    display: block;
    position: relative;
    text-decoration: none;

    svg {
      display: block;
      width: 42px;
      height: 42px;
      margin-bottom: 10px;
      fill: #fafafa;
      transition: fill 0.25s ease-in;

      &:hover {
        fill: #000;
      }
    }
  }
}
