/* HELPERS */
@import "./helpers/_vars";
@import "./helpers/_mixins";

//  MAIN STYLE
@import "./sections/greating";
@import "./sections/advantages";
@import "./sections/photo";
@import "./sections/photoInner";
@import "./sections/footer";
@import "./components/revealAnimation";

.photoInner {
  &__item {
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}

@media (max-width: $desktop-xl) {
}

@media (max-width: $desktop) {
}

@media (max-width: $laptop) {
}

@media (max-width: $tablet) {
}

@media (max-width: $note) {
}

@media (max-width: $phone-xl) {
}

@media (max-width: $phone) {
}
