/* HELPERS */
@import "./helpers/_vars";



//  MAIN STYLE
.item {
    height:100%;
    border-radius: 4px;
    margin:0;
    overflow:hidden;
    // transition: all ease 0.4s;
    // box-shadow: 0 7px 30px -10px rgba(0,0,0,0.25);

  
  img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    // opacity:0;
    animation-delay: 0.6s;
    transform: translate(-50%, -50%);
  }

 

    &:nth-of-type(1) {
      height:22.50015rem;
    }
    &:nth-of-type(2) {
      height: 9.00006rem;
    }
    &:nth-of-type(3) {
      height: 22.50015rem;
    }
    &:nth-of-type(4) {
      height: 9.00006rem;
    }
    &:nth-of-type(5) {
      z-index:9;
      height: 15.0001rem;
    }
    &:nth-of-type(6) {
      height:22.50015rem;
    }
    &:nth-of-type(7) { 
      height:15.0001rem;
    }
    &:nth-of-type(8) {
      height: 9.00006rem;
    }
  }





@media (max-width: $desktop-xl) {}
@media (max-width: $desktop) {}
@media (max-width: $laptop) {}
@media (max-width: $tablet) {}
@media (max-width: $note) {}
@media (max-width: $phone-xl) {}
@media (max-width: $phone) {}