@import "../helpers/_vars";
@import "../helpers/_mixins";

.footer {
  margin-bottom: -25px;
  background: lighten($color: #000, $amount: 6%);

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;

    @media (max-width: $phone-xl) {
      flex-direction: column;
    }
  }
  .smm {
    li {
      margin-right: 10px;
    }
  }

  .link {
    display: block;
    padding-bottom: 12px;
    font-size: rem(14);

    @media (max-width: $phone-xl) {
      margin-top: 20px;
      font-size: rem(12);
      text-align: center;
    }
  }
  strong {
    display: block;
  }
}
