@import "../helpers/_vars";
@import "../helpers/_mixins";

.photo {
  &__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px 0;
  }
  &__item {
    position: relative;
    max-width: 620px;
    flex-basis: 50%;
    overflow: hidden;
    object-fit: cover;
    backface-visibility: hidden;

    &:nth-of-type(even) {
      margin-top: 350px;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
}
