@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayLight/RalewayLight.woff2") format("woff2"),
    url("../fonts/RalewayLight/RalewayLight.woff") format("woff");

  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRegular/RalewayRegular.woff2") format("woff2"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff");

  font-weight: 400;
  font-display: swap;
}
