@import "./helpers/_vars";

.mainwrap {
  background: url(../img/bg.png) center center repeat fixed;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $desktop-xl) {
    max-width: 1320px;
  }
  @media (max-width: $desktop) {
    max-width: 1200px;
  }
  @media (max-width: $laptop) {
    max-width: 1024px;
  }
  @media (max-width: $tablet) {
    max-width: 980px;
    padding: 0 40px;
  }
  @media (max-width: $note) {
    max-width: 725px;
    padding: 0 30px;
  }
  @media (max-width: $phone-xl) {
    max-width: 100%;
    padding: 0 15px;
  }
}

#app {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  touch-action: none;
  width: 100%;
}
#wrapper,
#footer {
  position: relative;
  z-index: 999;
}
.js-webgl-element-hidden {
  opacity: 0;
}
.load-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 260%;
  z-index: 10;
  background-color: #121314;
  transition: opacity 0.5s;
}
.load-screen.hidden {
  opacity: 0;
  touch-action: none;
  pointer-events: none;
}
