// titles for semantics and structure HTML
.offscreen {
	position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden; 
}


/* ONLY FOR IE11 */
@media all and (-ms-high-contrast:none) {

	.viewport {
		position: static;
		height: 100%;
		width: 100%;
		top: inherit;
		left: inherit;
		right: inherit;
		bottom: inherit;
	  }
	  
	  .scroll-container {  
		position: static;  
	  }
	  
	  .content {
		width: 100vw; 
	  }
	
}

/* ONLY FOR EDGE */
@supports (-ms-ime-align:auto) {

}
